@media(min-width: 980px){
.titulo1{
    color: whitesmoke;
    text-decoration: underline;
}

.corpo{
    background-color: black;
    color: whitesmoke;
}

.principal{
    text-align: center;
}

.info{
    list-style-type: disc;
}

.electric{
    max-width: 20px;
}

.photo{
    max-width: 100px;
}

.pueq{
    max-width: 30px;
}

.zap{
    max-width: 20px;
}

.in{
    max-width: 20px;
}

.gmail{
    max-width: 30px;
}

.linkzada_gmail{
    color: red;
}

.linkzada_zap{
    color: green;

}

.linkzada_in{
    color: dodgerblue;
}

.topico1{
    margin-left: 150px;
    background-color: white;
    margin-right: 250px;
    padding: 20px 300px 50px 50px;
    color: black;
    border-radius: 10px;
    font-weight: bold;
}

.topico2{
    margin: 20px 0px 0px 150px;
    text-align: right;
    margin-right: 150px;
    background-color: white;
    margin-right: 250px;
    padding: 50px 50px 50px 300px;
    color: black;
    border-radius: 10px;
    font-weight: bold;
}

.topico3{
    margin: 20px 0px 0px 150px;
    background-color: white;
    margin-right: 250px;
    padding: 20px 300px 50px 50px;
    color: black;
    border-radius: 10px;
    font-weight: bold;
}

.topico4{
    margin: 20px 0px 50px 150px;
    text-align: right;
    margin-right: 150px;
    background-color: white;
    margin-right: 250px;
    padding: 50px 50px 50px 300px;
    color: black;
    border-radius: 10px;
    font-weight: bold;
}
}

@media (max-width: 979px) {
    .titulo1{
        color: whitesmoke;
        text-decoration: underline;
    }
    
    .corpo{
        background-color: black;
        color: whitesmoke;
    }
    
    .principal{
        text-align: center;
    }
    
    .info{
        list-style-type: disc;
    }
    
    .electric{
        max-width: 20px;
    }
    
    .photo{
        max-width: 100px;
    }
    
    .pueq{
        max-width: 30px;
    }
    
    .zap{
        max-width: 20px;
    }
    
    .in{
        max-width: 20px;
    }
    
    .gmail{
        max-width: 30px;
    }
    
    .linkzada_gmail{
        color: red;
    }
    
    .linkzada_zap{
        color: green;
    
    }
    
    .linkzada_in{
        color: dodgerblue;
    }

    .topico1{
        background-color: white;
        color: black;
        border-radius: 10px;
        padding: 10px 0px 10px 10px;
        margin: 10px 0px 10px 0px;
        font-weight: bold;
    }

    .topico2{
        background-color: white;
        color: black;
        border-radius: 10px;
        padding: 10px 0px 10px 10px;
        margin: 10px 0px 10px 0px;
        font-weight: bold;
    }

    .topico3{
        background-color: white;
        color: black;
        border-radius: 10px;
        padding: 10px 0px 10px 10px;
        margin: 10px 0px 10px 0px;
        font-weight: bold;
    }

    .topico4{
        background-color: white;
        color: black;
        border-radius: 10px;
        padding: 10px 0px 10px 10px;
        margin: 10px 0px 10px 0px;
        font-weight: bold;
    }
}